* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
}

.title{
    text-align: center;
    padding: 3rem;
    font-size: 3rem;
    color: white;
}

.container {
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
}

input, select, button{
    border: 1px solid red;
    border-radius: 5px;
} 


